*{
    font-family: 'DM Sans', sans-serif;
    color: #2B3674;
    font-size: 14px;
}
input{
    box-shadow: none !important;
}
select{
    box-shadow: none !important;
}
.upload-image{
    width: 100%;
    height: 125px;
    border-radius: 13px;
    border: 3px dashed #B2BAD0;
    background: var(--secondary-grey-100, #FAFCFE);
}
.upload-image div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
svg{
    margin-top: 30px;
}
.upload-image div h6{
    font-weight: bold;
}
.col h3{
    display: flex;
    width: 218px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    color: #2B3674;
}
.container-fluid{
    background: #E9EDF2;
}
.cancel-btn{
    background-color: white;
    border: transparent;
    background-color: rgb(246, 244, 244);
}
.save-btn{
    color: white;
    background-color: #4318FF;
    border: transparent;

}
.button{
    padding: 10px;
}
.btn-area div{
    display: flex;
    justify-content: end;
}
.measure{
    border: 1px solid rgb(219, 215, 215);
}
.color-chooser{
    height: 40px;
}
input::placeholder{
    opacity: 1;
}
.required::after{
    content: '*';
    color: red;
}
.form-control:focus{
    border: 2px solid #4318FF !important;
}
.second-row{
    margin-top: 20px;
}



@media only screen and (max-width: 1024px) {
    * {
        font-size: 11px;
    }
  }
